<div class="homeFormWrapper">

<h1>Search on <a href="http://www.airportparkingreservations.com/home/22377">AirportParkingReservations</a> and <a href="http://www.parksleepfly.com/index.php?referredBy=DSANG">ParkSleepFly</a></h1>

<form name="search" novalidate ng-submit="formSubmit()" class="row">
	<section class="col-sm-offset-3 col-sm-6">
	<div class="form-group">
		<label class="col-sm-4 control-label">Airport</label>
		<div class="col-sm-8">
			<input class="form-control" autocomplete="off" type="text" name="location" required ng-model="location" placeholder="Select Airport City" typeahead="airport as airport.full_name for airport in airports | filter:{full_name:$viewValue}" typeahead-template-url="./views/typeahead-locations.html">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Check-in Date</label>
		<div class="col-sm-8">
			<input class="form-control" name="checkin" required ui-date="beginningDate" ui-date-format="mm/dd/yy" ng-model="checkin" placeholder="Select Check-in Date">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Check-out Date</label>
		<div class="col-sm-8">
			<input class="form-control" name="checkout" required ui-date="endDate" ui-date-format="mm/dd/yy" ng-model="checkout" placeholder="Select Check-out Date">
		</div>
	</div>

	<div class="form-group row">
		<button type="submit" class="search-button col-sm-offset-2 col-sm-8">SEARCH</button>
	</div>
	</section>

</form>

</div>

