<div class="homeFormWrapper">

<form name="search" novalidate ng-submit="formSubmit()">
	<div>
		<label>Airport</label>
		<input type="text" name="location" required ng-model="location" placeholder="Select Airport City" typeahead="airport as airport.full_name for airport in airports | filter:{full_name:$viewValue}" typeahead-template-url="./views/typeahead-locations.html">
	</div>

	<div>
		<label>Check-in Date</label>
		<input name="checkin" required ui-date="beginningDate" ui-date-format="mm/dd/yy" ng-model="checkin">
	</div>

	<div>
		<label>Check-out Date</label>
		<input name="checkout" required ui-date="endDate" ui-date-format="mm/dd/yy" ng-model="checkout">
	</div>

	<div>
		<button type="submit">SEARCH</button>
	</div>

</form>

</div>

