<section class="searchWrapper row">
	<h2>RESULTS</h2>

	<div class="col-sm-6">
		<select ng-model="order" ng-options="item as item.label for item in orders"></select>
		<section class="singleResult" ng-repeat="s in parkingData | orderBy:order.sort:order.order" ng-click="setActive(s)">
			<div>Name: {{s.name}}</div>
			<div>Daily Rate: {{s.daily_rate}}</div>
			<div>Distance to Airport: {{s.distance_to_airport}}</div>
			<div>Average Shuttle Wait Time: {{s.shuttle}}</div>
			<div>Average Rating: {{s.rating}}</div>
			<div><img ng-src="{{s.logo}}" /></div>
		</section>
	</div>

	<div class="col-sm-6 pinned" ng-if="active.name">
		<section class="singleResult">
			<div>Source: {{active.source}}</div>
			<div>Name: {{active.name}}</div>
			<div>Daily Rate: {{active.daily_rate}}</div>
			<div>Distance to Airport: {{active.distance_to_airport}}</div>
			<div>Average Shuttle Wait Time: {{active.shuttle}}</div>
			<div>Average Rating: {{active.rating}}</div>
			<div><img ng-src="{{active.logo}}" /></div>
			<div>{{active.latitude}}{{active.longitude}}</div>
			<div ng-bind-html="active.information"></div>
		</section>
	</div>
	
</section>